body{
	margin: 0px;
	padding: 0px;
	background-color: #1e8bc3;
}

nav{
	background-color: #36a0ce;
	height: 75px;
}

.div_diagnostic_test{
	color: white;
	font-family: Arial;
	font-size: 30px;
	position: relative;
	top: 20px;
	text-align: center;
}

.profile{
	float: right;
	position: relative;
	right: 45px;
	background-color: #6bb9f0;
}

.my_name{
	font-family: Arial;
	font-size: 30px;
	text-align: center;
}

.stud_no{
	font-family: Arial;
	font-size: 25px;
	text-align: center;
}

.profile_picture{
	height: 300px;
	width: 300px;
	transition: 1s ease;
}

.profile_picture:hover{
	height: 1000px;
	width: 1000px;
	transition: 1s ease;
}

.others{
	float: left;
	position: relative;
	left: 5px;
	top: 125px;
	background-color: #6bb9f0;
	padding: 12px;
	text-align: center;
	font-size: 17px;
	height: 200px;
	transition: 1s ease;
}

.abt_expct{
	font-size: 17px;
}

.contact{
	font-size: 12px;
	float: right;
	position: relative;
	top: 80px;
}

.others:hover{
	font-size: 25px;
	transition: 1s ease;
	height: 250px;
}